@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import './theme';
@import './utility';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

.header {
    @include flex-layout(space-between, center);
    padding: 26px 18px;
    background: $white;
}

.header__navigation {
    @include flex-layout(flex-end, center);
}

.header__navigation-menu {
    position: relative;
    order: 1;
    z-index: 2;

    @media (max-width: $desktop) {
        .header__navigation-links {
            background: $white;
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            border: 1px solid $border-color;
            border-radius: $border-radius;
        }

        &:focus,
        &:focus-within {
            .header__navigation-links {
                @include flex-layout;
                flex-direction: column;
            }
        }
    }
}

.header__burger-menu {
    width: 32px;
    height: 32px;
    margin-left: 48px;
    cursor: pointer;
}

.header__navigation-link {
    width: 100%;
    padding: 15px 16px 14px;
    font-size: $text-size;
    font-weight: 600;
    text-align: center;

    &:hover {
        border-bottom: 1px solid $border-color;
    }
}

.header__getting-started-wrapper {
    display: none;
    margin-left: 100px;

    .header__navigation-link {
        margin-right: 6px;
    }
}

.header__getting-started-button {
    background: $primary;
    border-radius: $border-radius;
    padding: 15px 22px 14px;
    white-space: nowrap;
    font-weight: 600;
    transition: background-color 300ms ease-in-out;

    &:hover {
        background-color: $secondary;
    }
}

@media (min-width: $tablet) {
    .header__getting-started-wrapper {
        @include flex-layout(space-between, center)
    }
}

@media (min-width: $desktop) {
    .header__navigation-menu {
        order: 0;
    }

    .header__burger-menu {
        display: none;
    }
}

// ________________________ Header end ______________________________

// ________________________ Search start_____________________________

.input__wrapper {
    @include flex-layout(flex-start, flex-start);
    position: relative;
    font-size: 15px;

    &:hover {

        input,
        button {
            border: 1px solid $primary;
        }
    }

    img {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none;

        @media (min-width: $desktop) {
            left: 28px;
        }
    }

    input {
        display: block;
        background: $white;
        padding: 18px 32px 17px;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border: 1px solid transparent;
        transition: border 300ms linear;

        @media (min-width: $tablet) {
            padding: 18px 58px 17px;
        }

        @media (min-width: $desktop) {
            padding: 30px 58px 28px;
            width: 375px;
        }
    }

    button {
        background: $primary;
        padding: 18px 18px 17px;
        font-weight: 500;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border: 1px solid transparent;
        transition: border 300ms linear;

        @media (min-width: $tablet) {
            padding: 18px 34px 17px;
        }

        @media (min-width: $desktop) {
            padding: 30px 34px 28px;
        }
    }
}

.search {
    overflow: hidden;
}

.search__container {
    position: relative;
    height: 300px;
    padding: 0 18px;
    margin-bottom: $section-mobile-margin;

    @media (min-width: $tablet) {
        height: 400px;
    }

    @media (min-width: $desktop) {
        height: 630px;
        margin-bottom: $section-desktop-margin;
    }

    .search__wrapper {
        @include flex-layout;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 1;

        @media (min-width: $tablet) {
            left: 82px;
            transform: translateX(0);
            text-align: left;
            animation: slide-in-from-left 1s ease-in-out 1;
        }

        @media (min-width: $desktop) {
            @include flex-layout(flex-start, flex-start);
            top: 20%;
            left: 18px;
        }
    }

    .search__heading {
        font-size: 32px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: -2px;
        color: $text-color;
        margin: 24px auto 24px 0;

        @media (min-width: $tablet) {
            width: 320px;
        }

        @media (min-width: $desktop) {
            font-size: 62px;
            line-height: 78px;
            width: 586px;
        }
    }

    .search__blue-box {
        @include flex-layout(flex-end, flex-end);
        background: $secondary;
        height: 100%;
        width: 75%;
        margin-left: auto;


        @media (min-width: $tablet) {
            animation: slide-in-from-right 1s ease-in-out 1;
        }

        @media (min-width: $desktop) {
            width: 84%;
        }

        .search__contacts {
            @include flex-layout(center, flex-start);
            flex-direction: column;
            width: 100%;
            padding: 12px 24px 11px;
            background: $primary;

            @media (min-width: $tablet) {
                flex-direction: row;
                width: auto;
                padding: 29px 58px 27px;
            }

            .search__contact {
                @include flex-layout(flex-start, center);
                flex: 0 0 50%;
                font-size: 18px;
                font-weight: 600;

                &:first-of-type {
                    margin-bottom: 12px;

                    @media (min-width: $tablet) {
                        margin-bottom: 0;
                    }
                }

                img {
                    margin-right: 16px;

                    @media (min-width: $tablet) {
                        margin-right: 32px;
                    }
                }
            }
        }
    }

    .search__scroll-down {
        @include flex-layout;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 54px;
        left: -32px;
        animation: up-and-down 1.5s linear infinite;

        img {
            transform: rotate(90deg);
        }

        div {
            margin-left: 20px;
            color: $tertiary;
            font-size: 15px;
        }
    }
}

@keyframes slide-in-from-right {
    from {
        position: absolute;
        left: 200%;
    }

    to {
        position: absolute;
        left: 25%;

        @media (min-width: $tablet) {
            left: 16%;
        }
    }
}

@keyframes slide-in-from-left {
    from {
        position: absolute;
        left: -200%;
    }

    to {
        position: absolute;
        left: 82px;
    }
}

@keyframes up-and-down {

    0%,
    100% {
        transform: translateY(-30px) rotate(-90deg)
    }

    50% {
        transform: translateY(0) rotate(-90deg)
    }
}

// ____________SEARCH END__________________

// ____________ABOUT START_________________

.about {
    @include flex-layout;
    flex-direction: column;
    padding: 0 18px;
    margin-bottom: $section-mobile-margin;

    @media (min-width: $desktop) {
        @include flex-layout(space-between, center);
        flex-direction: row;
        margin-bottom: $section-desktop-margin;
    }

    .about__description {
        margin: 0 auto $section-mobile-margin;

        h3 {
            width: 305px;
            font-size: 40px;
            letter-spacing: $text-spacing;
            line-height: 50px;
            font-weight: 600;
            margin-bottom: 69px;
        }

        p {
            font-size: $text-size;
            line-height: 2;

            &:first-of-type {
                margin-bottom: 46px;
            }
        }

        @media (min-width: $tablet) {
            width: 70%;
        }

        @media (min-width: $desktop) {
            margin-bottom: 0;
            margin-right: 135px;
        }
    }

    .about__milestones {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(2, 150px);
        grid-gap: 14px;
        animation: fade-in 1.5s linear;

        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(2, 200px);
            grid-gap: 28px;
        }

        .about__milestone {
            @include flex-layout;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: $background;

            div {
                font-size: 40px;
                letter-spacing: $text-spacing;
                color: $primary;
                font-weight: 600;
                margin-bottom: 20px;
            }

            span {
                font-size: $text-size;
                letter-spacing: $text-spacing;
                color: $text-color;
                font-weight: 600;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.appartments__wrapper {
    background: $background;
    padding: 64px 0 84px;
    margin-bottom: 56px;
}

.appartments {
    padding: 0 18px;

    h2 {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -1px;
        color: $text-color;
        font-weight: 600;
        margin-bottom: 32px;


        @media (min-width: $tablet) {
            width: 50%;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 78px;
        }
    }

    .appartments__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px 34px;
        margin-bottom: 60px;

        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $desktop) {
            grid-template-columns: repeat(3, 1fr);
        }

        .appartments__card {
            filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));
            transition: transform 300ms linear;

            &:hover {
                transform: scale(1.1);
            }

            .appartments__card-image {
                width: 100%;
                height: 381px;
                background: $secondary;
                object-fit: cover;
            }

            &-footer {
                background: $white;
                padding: 24px 24px 0;

                h5 {
                    font-size: 15px;
                    color: $text-color;
                    font-weight: 600;
                    margin-bottom: 24px;
                }

                &-info {
                    @include flex-layout(space-between, center);

                    small {
                        color: $primary;
                        font-weight: 600;
                        font-size: 18px;
                    }

                    ul {
                        @include flex-layout(flex-start, center);

                        li {
                            @include flex-layout(flex-start, center);

                            span {
                                font-size: $text-size;
                                color: $tertiary;
                            }
                        }
                    }
                }
            }
        }
    }

    .appartments__search {
        @include flex-layout(flex-start, center);
        flex-wrap: wrap;

        .input__wrapper {
            margin-right: 40px;
            margin-bottom: 24px;

            @media (min-width: $tablet) {
                margin-bottom: 0;
            }
        }

        .appartments__view-all-button {
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
            padding: 18px 18px 17px;
            border-radius: $border-radius;
            background-color: $white;
            border: 1px solid transparent;
            margin-bottom: 24px;
            transition: border 300ms linear;

            &:hover {
                border: 1px solid $border-color;
            }

            @media (min-width: $tablet) {
                padding: 18px 34px 17px;
                margin-bottom: 0;
            }

            @media (min-width: $desktop) {
                padding: 30px 48px 28px;
            }
        }
    }
}

// _________________________ HELP START _____________________

.help {
    padding: 0 18px;
    margin-bottom: 70px;

    .help__text {
        margin-bottom: 70px;

        @media (min-width: $tablet) {
            width: calc(50% - 17px);
        }

        @media (min-width: $desktop) {
            width: calc(33% - 17px);
        }

        h2 {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            font-weight: 600;
            margin-bottom: 35px;
        }

        p {
            font-size: 13px;
            line-height: 30px;
        }
    }

    .help__card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;

        .help__card {
            position: relative;
            background: $white;
            padding: 146px 44px 50px;
            flex: 0 0 100%;
            filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));
            overflow: hidden;
            transition: all 300ms linear;

            &:hover {
                background-color: $primary;
                color: $white;

                a {
                    color: $white;
                    border-color: $white;
                }
            }

            @media (min-width: $tablet) {
                flex: 0 0 calc(50% - 17px);
            }

            @media (min-width: $desktop) {
                flex: 0 0 calc(33% - 19px);
            }

            .help__card-number {
                position: absolute;
                top: -60px;
                left: -36px;
                font-size: 154px;
                font-weight: 600;
            }
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
        }

        p {
            font-size: $text-size;
            line-height: 1.5;
            padding: 26px;
        }

        a {
            font-size: $text-size;
            font-weight: 600;
            border-bottom: 3px solid $border-color;
            padding-bottom: 12px;
            transition: all 300ms linear;
        }
    }
}