// breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colors

$text-color: #1f373d;
$primary: #ffcc01;
$secondary: #96bece;
$tertiary: #919eb1;
$white: #fff;
$background: #f6f5f4;

// Sizes

$text-size: 13px;
$text-spacing: -1px;

// border

$border-radius: 5px;
$border-color: #1f373d;

// margin

$section-mobile-margin: 44px;
$section-desktop-margin: 144px;